* {
  padding: 0;
  margin: 0;
  font-family: 'Inter';
}

.hero {
  background-color: #0052ff;
}

.row {
  grid-gap: 20px;
  padding-left: 32px;
}

.row .cl-1 {
  width: 592px;
  height: 411px;
}

.cl-1 h1 {
  font-size: 72px;
  font-weight: 600;
  line-height: 84px;
  letter-spacing: -0.01em;
  text-align: left;
  font-family: 'Inter';
}

.cl-1 p {
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  font-family: 'Inter';
  width: 485px;
}

.button {
  display: flex;
  width: 416px;
  height: 60px;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.custom-btn {
  width: 198px;
  height: 60px;
  flex-shrink: 0;
}

.custom-btn img {
  width: 24.873px;
  height: 31.3px;
  margin-right: 18px;
}

.custom-btn .fs-0 {
  color: var(--herox-white, #FFF);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; 
  align-items: flex-start;
  margin-right: 60px;
}

.custom-btn p {
  color: var(--herox-white, #FFF);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 0%; 
  margin: 0px 32px 0px;
  margin-bottom: 23px;
}

/* RESPONSIVE */
/* 1200px */
@media (max-width: 1200px) {
  .cl-1,
  .hero {
    height: 100vmin;
  }

  .hero {
    display: flex;
    justify-content: center;
  }

  .col .h-img {
    align-self: center;
  }
}

/* 991px */
@media (max-width: 991px) {
}

/* 764px */
@media (max-width: 764px) {
  .row {
    flex-direction: column;
  }
}

/* 580px */
@media (max-width: 580px) {
}
